server.port=8061
eureka.client.enabled=false
spring.application.name=${name:turbine}
hystrix.dashboard.proxy-stream-allow-list=${allow-list:localhost}
hystrix.stream.queue.enabled=true
spring.cloud.stream.kafka.binder.brokers=${brokers:localhost:9092}
spring.cloud.stream.bindings.turbineStreamInput.group=${name:turbine}
turbine.stream.enabled=true
spring.cloud.stream.bindings.turbineStreamInput.destination=${destination:hystrixStreamOutput}
management.endpoint.hystrix.stream.enabled=true